@using Application.ViewModels.Country
@model List<CountryViewModel>;
@{
    ViewData["Title"] = "Countries";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Countries</h1>
    </div>
</div>

<div class="row-mb-4">
    <div class="col-10 col-md-2">
        <a class="btn btn-outline-success" asp-controller="Countries" asp-action="Create">Añadir país</a>
    </div>
</div>

<div class="container border rounded p-4" style="margin-top: 20px;"> 
    <div class="row mt-2">
        @if(Model.Count == 0)
        {
            <div class="text-md-center">
                <h5>Añade algún país a la lista</h5>
            </div>
        }
        else
        {
            
         @foreach(var CMV in Model){

          <div class="col-11 col-md-3">
              <div class="card">
                  <div class="card-body">
                      <h6 class="card-title">País: @CMV.Name </h6>
                      <h8 class="card-subtitle">ISO: @CMV.Code </h8>
                      <div class="mt-2">
                         <a class="btn btn-outline-warning btn-sm " asp-controller="Countries" asp-action="Edit" asp-route-id="@CMV.Id">Editar</a>
                         <a class="btn btn-outline-danger btn-sm" asp-controller="Countries" asp-action="Delete" asp-route-id="@CMV.Id">Eliminar</a>
                      </div>
                  </div>
              </div>

          </div>
         }
        }
    </div>
</div>
